@import '~bootstrap/less/bootstrap';
@import './layout.less';
@icon-font-path './fonts/';

body {
  color: #eee;
  background: #161616;
}

.splash {
  padding-top: 28%;
  text-align: center;
  h1 {
    color: #292929;
    font-size: 44px;
    font-weight: 100;
    margin-bottom: 96px;
    letter-spacing: 8px;
    margin-left: 8px;
  }
  .btn {
    font-size: 18px;

  }
}

.job-progress {
  color: #888;
  font-size: 44px;
}

.player {
  @controls-width: 40px;
  position: relative;
  padding-left: @controls-width;
  margin-bottom: 28px;
  .player-controls {
    padding-top: 35px;
    font-size: 24px;
    text-align: center;
    position: absolute;
    width: @controls-width;
    height: 40px;
    left: 0px;
  }
  .player-info {
    padding: 14px 0px 8px;
    font-size: 0.9em;
    text-align: center;
  }
  .player-scrubber {
    @scrubber-padding: 75px;
    position: relative;
    font-family: monospace;
    font-size: 0.75em;
    height: 20px;
    .player-position,
    .player-duration {
      position: absolute;
      text-align: center;
      width: @scrubber-padding; 
      top: 3px;
    }
    .player-position {
      left: 0px;
    }
    .player-duration {
      right: 0px;
    }
    .player-scrub {
      position: absolute;
      left: @scrubber-padding;
      right: @scrubber-padding;
      padding: 8px 0px;
    }
  }
  .progress {
    margin: 0px;
    height: 5px;
    .progress-bar {
      transition: width 0.0s linear;
    }
  }
}

.browser {
  .browser-search {
    padding: 0px 8px 6px 8px;
    input {
      border-radius: 11px;
      padding: 0px 6px;
      height: 23px;
    }
  }

  .browser-list {
    position: absolute;
    overflow-y: scroll;
    left: 0px;
    right: 0px;
    top: 48px;
    bottom: 8px;
    a {
      cursor: default;
      font-size: 12px;
      font-weight: 100;
    }
    ul {
      padding-left: 12px;
      margin-bottom: 2px;
    }
    li {
      margin: 0px 0px;
    }
    .expanded {
      font-weight: bold;
    }
  }

  // selection hack:
  .user-select(none);
}

.tracks {
  font-size: 0.8em;
  .table {
    tbody tr:hover {
      background: rgba(255,255,255,0.1);
    }
    td {
      padding: 4px 2px;
    }
  }
}

.sidebar {
  .sidebar-header {
    border-bottom: 0px;
    h2 {
      display: none;
    }
  }

  .sidebar-content {
    position: absolute;
    left: 0px;
    right: 2px;
    bottom: 62px;
    top: 2px;
    > ul {
      display: none;
    }
  }
}

html, body {
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 2px;
  }
  ::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 3px;
  }
}
